# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Dependencies
node_modules/
vendor/

# Environment
.env
.env.backup
.env.production

# Laravel
backend/storage/*.key
backend/storage/logs/*
backend/bootstrap/cache/*

# Frontend
frontend/dist/

# Misc
*.log
npm-debug.log*
